<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>GPP</string>
	<key>CFBundleExecutable</key>
	<string>gpp</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>dev.gpp.player</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>GPP</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>__VERSION__</string>
	<key>CFBundleVersion</key>
	<string>__VERSION__</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.video</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Video</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp4</string>
				<string>m4v</string>
				<string>mkv</string>
				<string>webm</string>
				<string>mov</string>
				<string>qt</string>
				<string>avi</string>
				<string>wmv</string>
				<string>flv</string>
				<string>ts</string>
				<string>mts</string>
				<string>m2ts</string>
				<string>mpeg</string>
				<string>mpg</string>
				<string>m2v</string>
				<string>ogv</string>
				<string>ogg</string>
				<string>3gp</string>
				<string>3gpp</string>
				<string>asf</string>
				<string>vob</string>
				<string>mxf</string>
				<string>rmvb</string>
				<string>rm</string>
				<string>m3u8</string>
				<string>m3u</string>
				<string>mpd</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/mp4</string>
				<string>video/x-m4v</string>
				<string>video/quicktime</string>
				<string>video/x-matroska</string>
				<string>video/webm</string>
				<string>video/x-msvideo</string>
				<string>video/x-ms-wmv</string>
				<string>video/x-flv</string>
				<string>video/mp2t</string>
				<string>video/mpeg</string>
				<string>video/ogg</string>
				<string>video/3gpp</string>
				<string>application/mxf</string>
				<string>application/vnd.apple.mpegurl</string>
				<string>application/dash+xml</string>
			</array>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.mpeg-4</string>
				<string>com.apple.m4v-video</string>
				<string>com.apple.quicktime-movie</string>
				<string>public.avi</string>
				<string>public.mpeg</string>
				<string>public.mpeg-2-transport-stream</string>
				<string>public.3gpp</string>
				<string>public.movie</string>
				<string>org.matroska.mkv</string>
				<string>org.webmproject.webm</string>
				<string>com.microsoft.windows-media-wmv</string>
				<string>com.microsoft.advanced-systems-format</string>
				<string>com.adobe.flash.video</string>
				<string>org.xiph.ogv</string>
				<string>com.apple.mpeg-2-video</string>
				<string>public.dvd-mpeg2</string>
				<string>org.smpte.mxf</string>
				<string>com.realnetworks.rmvb</string>
				<string>public.m3u-playlist</string>
				<string>org.mpeg.dash.mpd</string>
			</array>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>org.matroska.mkv</string>
			<key>UTTypeDescription</key>
			<string>Matroska Video</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mkv</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>video/x-matroska</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>org.webmproject.webm</string>
			<key>UTTypeDescription</key>
			<string>WebM Video</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>webm</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>video/webm</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.windows-media-wmv</string>
			<key>UTTypeDescription</key>
			<string>Windows Media Video</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>wmv</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>video/x-ms-wmv</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.advanced-systems-format</string>
			<key>UTTypeDescription</key>
			<string>Advanced Systems Format</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>asf</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>video/x-ms-asf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.flash.video</string>
			<key>UTTypeDescription</key>
			<string>Flash Video</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>flv</string>
					<string>f4v</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>video/x-flv</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>org.xiph.ogv</string>
			<key>UTTypeDescription</key>
			<string>Ogg Video</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ogv</string>
					<string>ogg</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>video/ogg</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>org.smpte.mxf</string>
			<key>UTTypeDescription</key>
			<string>Material Exchange Format</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mxf</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/mxf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.realnetworks.rmvb</string>
			<key>UTTypeDescription</key>
			<string>RealMedia Variable Bitrate</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rmvb</string>
					<string>rm</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>org.mpeg.dash.mpd</string>
			<key>UTTypeDescription</key>
			<string>MPEG-DASH Manifest</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
				<string>public.movie</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mpd</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/dash+xml</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
